// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap');
//font-family: 'Noto Sans', sans-serif;
//font-family: 'Noto Serif', serif;

$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple;  // Once we've changed the value, we'll also make it the primary brand color.
$green: #198754;
$azure: #F0FFFF;
$darkred: #800012;
$grid-columns: 4;
$grid-gutter-width: 1rem;
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-serif: 'Noto Serif', serif;
$nav-link-color: #6610f2;
$font-size-base: 1.1rem;
$footer: $azure;
$green-900: shade-color($green, 80%);
$navbar-dark-toggler-icon-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#3d0a91' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color: #3d0a91 !default;
